
<!DOCTYPE html>
<html layout:decorate = "template" 
xmlns:th="http://www/thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | DataTables</title>


</head>
<body class="hold-transition sidebar-mini">

 
  <div layout:fragment="content1">
  <!-- Content Wrapper. Contains page content -->
  
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Department List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="#">Departments</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
          
            

            <div class="card">
              <div class="card-header">
                <a href="/department/new"><button class="btn btn-sm btn-success">Add New Department</button></a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
            <tr>
               
                <th>ID</th>
                <th>DEPARTMENT NAME</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
           
            </tr>
        </thead>
          <tbody>
                <tr th:each="department : ${list}">
                    <td th:text="${department.id}"></td>
                    <td th:text="${department.name}"></td>
                    <td th:text="${department.description}"></td>
                   
                    <td style="width:160px"><a th:href="@{/department/edit/{id}(id=${department.id})}"><button class="btn btn-sm btn-success"> Update </button></a>
                    <a th:href="@{/department/delete/{id}(id=${department.id})}" onclick="return confirm('Do you want to Delete?')"><button class="btn btn-sm btn-danger">Delete </button></a></td>
                </tr>
            </tbody>
                  <tfoot>
                  <tr>
                <th>ID</th>
                <th>DEPARTMENT NAME</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
           
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->

<!-- Page specific script -->

</body>
</html>
